<div class="d-flex justify-content-between align-items-center">
	<h1>Shippings</h1>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Carrier</th>
      <th scope="col">Nombre origen</th>
      <th scope="col">Nombre destino</th>
      <th scope="col">Status</th>
      <th scope="col">Shipment id</th>
      <th scope="col">Label url</th>
    </tr>
  </thead>
  <tbody>
  	<%= render @shippings %>
  </tbody>
</table>
